.countryItem_container {
    display: flex;
    flex: 450px 1 0;
    border: 2px solid #444;
    margin: 14px;
    padding: 6px;
}


.countryItem_container img {
    width: 120px;
    height: 120px;
}

.countryItem_meta {
    padding: 8px;
    margin: 1em;
    line-height: 1.8;
}